@font-face {
    font-family: 'lucida';
    src: local('Lucida Console'), local('LucidaConsole'),
        url('LucidaConsole.woff2') format('woff2'),
        url('LucidaConsole.woff') format('woff'),
        url('LucidaConsole.ttf') format('truetype'),
        url('LucidaConsole.svg#LucidaConsole') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin:0;
    padding:0;
    font-family: 'lucida',sans-serif;
    background: #0C0D0D;
    color: #CCCCCB;
}

header {
    margin:0;
    height: 50px;
    background-color: #333333;
    margin:0;
    padding:0;
    position:relative;
}

nav {
    position:absolute;
    bottom:0;
}

ul {
    margin:0;
    padding:0;
    margin-right: 5px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: 10px;
    
}

li {
    line-height: 40px;
    background:#0C0D0D;
    border-top-right-radius:6px;
    padding-right: 12px;
    padding-left: 22px;
    width: auto;
    list-style-type: none;
}

ul li a {
    cursor: alias;  
    font-size: 0.9rem
}

ul li img {
    width: 11px;
    margin-left:10px;
}





section {
    height: 100vh;
    font-size:1rem;
    margin:0 32px;
}



.question {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    bottom:22px;
    right:32px;
    color:#CCCCCB;
    border:2px solid #CCCCCB;
}

.shtoje-x {
    display: inline-block;
    width: 11px;
    rotate: 45deg;
    margin:0 24px;
    cursor: pointer;
    
}

