@font-face {
    font-family: 'lucida';
    src: local('Lucida Console'), local('LucidaConsole'),
        url('LucidaConsole.woff2') format('woff2'),
        url('LucidaConsole.woff') format('woff'),
        url('LucidaConsole.ttf') format('truetype'),
        url('LucidaConsole.svg#LucidaConsole') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'lucida', sans-serif;
    background: #0C0D0D;
    color: #CCCCCB;
}

header {
    margin: 0;
    height: 50px;
    background-color: #333333;
    margin: 0;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

nav {
    bottom: 0;
    display: flex;
    align-self: end;
}

/* nav icons */
.shtoje-x {
    display: inline-block;
    width: 11px;
    rotate: 45deg;
    margin: 0 24px;
    cursor: pointer;
}

.anuloje-x {
    width: 11px;
    margin-left: 10px;
    cursor: pointer;
}

.mshele-x {
    width: 15px;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    margin-right: 5px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: 10px;
    list-style-type: none;
}

li {
    line-height: 40px;
    background: #0C0D0D;
    border-top-right-radius: 6px;
    padding-right: 12px;
    padding-left: 22px;
    width: auto;
}

ul li a {
    cursor: alias;
    font-size: 0.9rem
}


/*first section*/
section {
    height: 100vh;
    font-size: 1rem;
    margin: 0 32px;
}

.question {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    bottom: 22px;
    right: 32px;
    color: #CCCCCB;
    border: 2px solid #CCCCCB;
}

.hello,
.helloo {
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Lucida Sans';
    font-size: 0.9rem;
    color: rgba(255, 255, 255, .70);
}

.second-text {
    margin-top: 25px;
}

/* Animation */
.helloo {
    animation: animated-text 650ms steps(24, end) 1s 1 normal both
}

.hello {
    animation: animated-text 650ms steps(70, end) 2s 1 normal both
}

@keyframes animated-text {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


@media only screen and (max-width: 768px) {

    nav {
        align-self:unset;
    }
    .mshele-x {
    display:none;
}

 ul {
    display: flex;
    align-self: end;
 }

 li {
     width: 80%;
     line-height: 50px;
 }
}